@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin:0;
  font-family: 'Poppins';
}
body{
  background-color: #a0a0a025;
}
.App{
  max-width: 800px;
  margin: 0px auto;
  background-color: white;
  min-height: 100vh;
}

.navbar{
  display: flex;
  padding: 30px 20px;
  max-width: 100%;
  margin: 0px auto;
  justify-content: space-between;
  border-bottom: 1px solid #10101010;
}

.navbar h1{
  color: rgb(77, 77, 248);
  font-size: 28px;
  cursor: pointer;
}

.navbar span{
  font-weight: 300;
  border-left: 1px solid black;
  color: black;
  padding-left: 5px;
}

.navbar .links{
  font-size: 18px;
  margin: auto 0;
}

.navbar .links a{
  text-decoration: none;
  color: black;
  padding: 0 15px;
  transition: .2s;
}

.navbar .links a:hover{
  color: rgb(77, 77, 248);
  transition: .2s;
}

.content{
  max-width: 100%;
  margin: 40px auto;
  padding: 0 20px;
}

.content h1{
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

.content .blog-preview{
  margin: 30px 0;
  margin-left: 20px;
}
.content .blog-preview a{
  text-decoration: none;
}
.content .blog-preview h2{
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: rgba(77, 77, 248, .80);
}
.content .blog-preview h2:hover{
  color: rgb(77, 77, 248);
}
.content .blog-preview span{
  cursor: pointer;
  font-style: italic;
}
.content .blog-preview span:hover{
  color: blueviolet;
  font-weight: 500;
}
.content .blog-preview p{
  margin-left: 10px;
  font-size: 16px;
}

.blog-wrapper .blog-body{
  text-align: justify;
}
.blog-wrapper .blog-author{
  font-size: 14px;
  margin:0 0 20px 0;
}
.blog-wrapper .blog-author a{
  color: rgba(77, 77, 248, .80);
}
.blog-wrapper .blog-author a:hover{
  color: rgb(77, 77, 248);
}
.blog-wrapper button{
  margin-top: 30px;
  border: none;
  padding: 7px 14px;
  border-radius: 10px;
  background-color: rgba(207, 32, 32, 0.767);
  color: white;
  font-weight: 500;
  transition: .2s;
  cursor: pointer;
}
.blog-wrapper button:hover{
  background-color: rgb(207, 32, 32);
  transition: .2s;
  
}
.create form{
  display: flex;
  flex-direction: column;
}
.create label{
  margin-top: 25px;
}
.create input, .create textarea, .create select{
  box-sizing: border-box;
  width: 70%;
  border: none;
  background-color: #f3f3f3;
  padding: 7px;
  border-radius: 10px;
  transition: .1s;
}
.create input:hover, .create textarea:hover, .create select:hover{
  background-color: #f8f8f8;
  transition: .1s;
}
.create button{
  width: 120px;
  height: 30px;
  margin: 25px 0;
  border: none;
  border-radius: 10px;
  background-color: rgba(77, 77, 248, .8);
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: .3s;
}
.create button:hover{
  background-color: rgb(77, 77, 248);
  transition: .3s;
}